
    .ckus_payee_name {
        top: 0.6in;
        left: 0.63in;
        width: 3.5in !important;
        text-align: left;
    }
    .ckus_payee_amount {
        top: 0.6in;
        left: 0.63in;
        width: 3.5in !important;
        text-align: right;
    }

    .display_date {
        top: 23px;
        left: 6.6in;
        width: 0.76in;
        text-align: center;
    }