
    .ckus_payee_name {
        top: 0.6in;
        left: 0.63in;
        width: 3.5in !important;
        text-align: left;
    }
    .ckus_payee_amount {
        top: 0.6in;
        left: 0.63in;
        width: 3.5in !important;
        text-align: right;
    }

    .display_date {
        top: 23px;
        left: 5.5in;
        width: 0.76in;
        text-align: center;
    }
    .ckus_payee_addr {
        top: 1.25in;
        left: 0.63in;
        line-height: 1.1em;
    }